head {

}

h1 {
  color: black;
  text-decoration:underline;
  font-size: 4rem;
  font-family:cursive , lucida handwriting , sans-serif;
}


.top-container{

}
.middle-container{

}
.bottom-container{

}
body{
<<<<<<< HEAD
  background-image: url("images/image2.jpg");
>>>>>>> e5bfee216ce60fd2f7eb3103132ec5aaa1cb1e12
  background-color: #cccccc;
  background-repeat: no-repeat;
  widows: 100%;
  height: 400px;
  background-size: cover;
}
