head {

}

h1 {
  color: #caf7e3;
  text-decoration:underline;
  font-size: 4rem;
  font-family:cursive , lucida handwriting , sans-serif;
}


.top-container{

}
.middle-container{

}
.bottom-container{

}
body{
<<<<<<< HEAD

  background-image: url("images/image3.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;
}
.forms {
  margin-left: 500px;
  margin-right: 500px;
  border-width: 5px;
  border-style: double;

}
